{% extends "layouts.master" %}

{% block content %}
<div style="padding: 100px 20px; text-align: center;">
    <h1 style="color: #002366; font-size: 3rem;">مرحباً بك في متجر أبو حاتم</h1>
    <p style="color: #C5A021; font-size: 1.5rem;">عناية ملكية بالحناء والسدر الطبيعي</p>
    <br>
    <button class="s-button-primary">استعرض منتجاتنا</button>
</div>
{% endblock %}
